.login-container {
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100vh;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px -10px 40px #859285;
    background-color: transparent;
    transition-duration: 500ms;
    animation-name: login-container-animation;
    animation-duration: 1500ms;
}

.user {
    background-color: transparent;
    color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    transition-duration: 250ms;
}

.user:focus {
    transition-duration: 250ms;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: 0px 0px 50px rgb(199, 196, 196);
}

@keyframes login-container-animation {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}